# EXERCISES:

Answer the questions or complete the tasks outlined in bold below, use the specifi c methoddescribed if applicable.

** What is 7 to the power of 4?**

In [2]:
7**4

2401

** Split this string:**

In [3]:
s = "Hi there Sam!"

*
into a list. *

In [4]:
s ='Hi there Sam!'

In [5]:
s.split()

['Hi', 'there', 'Sam!']

** Given the variables:**

In [6]:
planet = "Earth"
diameter = 12742

** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [7]:
planet ="Earth"
diameter =12742

In [8]:
print
("The diameter of {} is {} kilometers.".format(planet,diameter))

'The diameter of Earth is 12742 kilometers.'

** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [11]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

user@domain.com

# So for example, passing "user@domain.com" would return: domain.com

In [15]:
def domainGet(email):
    return email.split('@')[-1]

In [16]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't
worry about edge cases like a punctuation being attached to the word dog, but do account for
capitalization. **

In [19]:
def findDog(st):
    return 'dog' in st.lower().split()

In [20]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again
ignore edge cases. **

In [21]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [22]:
countDog('This dog runs faster than the other dog dude!')

2

# Problem

*You are driving a little too fast, and a police officer stops you. Write a function
to return one of 3
possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is
"No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or
more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the
parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *

In [23]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [24]:
caught_speeding(81,True)

'Small Ticket'

In [25]:
caught_speeding(81,False)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a
for loop retreive each employee salary and calculate total salary expenditure.

In [26]:
a = {'empid1':1,'empname1':'subhashini','basicpay1':2000,
    'empid2':2,'empname2':'janani','basicpay2':1000,
    'empid3':3,'empname3':'divyadharshini','basicpay3':3000,
    'empid4':4,'empname4':'vismaya','basicpay4':2000,
    'empid5':5,'empname5':'sjdv','basicpay5':2000}
b ={'dptname':'IT','dptid':12707}
c = {}
total = 0

Create two dictionaries in Python:
First one to contain fi elds as Empid, Empname, Basicpay
Second dictionary to contain fi elds as DeptName, DeptId.
Combine both dictionaries.

In [27]:
for i in (a,b):
    c.update(i)
avalue = c.values()
alist = list(avalue)
for i in range(2,15,3):
    total+=alist[i]
print("total salary expenditure", total)

total salary expenditure 10000